<div class="container">
    <div class="row py-5">
      <div class="col-md-4 d-flex align-items-center">
        <div>
          <div class="brdr w-25 mb-4"></div>
          <h2 class="text-capitalize">
            ALL movies <br />
            to watch right now
          </h2>
          <p class="sec-color my-2">most wateced movies by days</p>
          <div class="brdr w-75 mt-4"></div>
        </div>
      </div>
      <!-- all data is retrived there new way that give api page and number retrive -->
      <div *ngFor="let movie of trendingMovies | paginate: { itemsPerPage: 10, currentPage: pageNumber }" class="col-md-2">
        <div class="movie my-2 position-relative">
          <!-- طالما movie.id جايه من بره يبقي لازم احط الروت ف بادينح -->
          <a [routerLink]="['/moviedetails',movie.id]">
            <img
              [src]="imgPrefix + movie.poster_path"
              [alt]="movie.title"
              class="imaging"
            />
            <h3 class="my-2 h6">{{ movie.title }}</h3>
            <div class="vote">
              {{ movie.vote_average }}
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="custom-pagination text-center my-4">
      <nav aria-label="Page navigation example">
        <pagination-controls [responsive]="true" (pageChange)="paginationHandler($event)"></pagination-controls>
      </nav>
    </div>
  </div>