<div class="w-75 m-auto py-5">
  <!-- <h3>{{ registerForm.get("first_name")?.errors | json }}</h3> -->
  <div *ngIf="error" class="alert alert-danger">
    <p>{{ error }}</p>
  </div>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="submitRegisterForm(registerForm)"
  >
    <div class="form-group">
      <label for="first_name">First Name :</label>
      <input
        formControlName="first_name"
        class="form-control"
        type="text"
        id="first_name"
        placeholder=""
      />
      <div
        *ngIf="
          registerForm.get('first_name')?.errors !== null &&
          registerForm.get('first_name')?.touched
        "
        class="alert my-2 alert-danger"
      >
        <p *ngIf="registerForm.get('first_name')?.errors?.required">
          First Name is required
        </p>
        <p *ngIf="registerForm.get('first_name')?.errors?.minlength">
          First Name is minLength 3
        </p>
        <p *ngIf="registerForm.get('first_name')?.errors?.maxlength">
          First Name is maxLength 10
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="last_name">Last Name :</label>
      <input
        formControlName="last_name"
        class="form-control"
        type="text"
        id="last_name"
        placeholder=""
      />
      <div
        *ngIf="
          registerForm.get('last_name')?.errors !== null &&
          registerForm.get('last_name')?.touched
        "
        class="alert my-2 alert-danger"
      >
        <p *ngIf="registerForm.get('last_name')?.errors?.required">
          Last Name is required
        </p>
        <p *ngIf="registerForm.get('last_name')?.errors?.minlength">
          Last Name is minLength 3
        </p>
        <p *ngIf="registerForm.get('last_name')?.errors?.maxlength">
          Last Name is maxLength 10
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="age">Age :</label>
      <input
        formControlName="age"
        class="form-control"
        type="number"
        id="age"
        placeholder=""
      />
      <div
        *ngIf="
          registerForm.get('age')?.errors !== null &&
          registerForm.get('age')?.touched
        "
        class="alert my-2 alert-danger"
      >
        <p *ngIf="registerForm.get('age')?.errors?.required">Age is required</p>
        <p *ngIf="registerForm.get('age')?.errors?.min">Age is min 16</p>
        <p *ngIf="registerForm.get('age')?.errors?.max">Age is max 80</p>
      </div>
    </div>
    <div class="form-group">
      <label for="age">Email :</label>
      <input
        formControlName="email"
        class="form-control"
        type="email"
        id="email"
        placeholder=""
      />
      <div
        *ngIf="
          registerForm.get('email')?.errors !== null &&
          registerForm.get('email')?.touched
        "
        class="alert my-2 alert-danger"
      >
        <p *ngIf="registerForm.get('email')?.errors?.required">
          Email is required
        </p>
        <p *ngIf="registerForm.get('email')?.errors?.email">Email is Invalid</p>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password :</label>
      <input
        formControlName="password"
        class="form-control"
        type="password"
        id="password"
        placeholder=""
      />
      <input
        style="height: 30px; width: 30px; cursor: pointer"
        class="mt-3"
        type="checkbox"
        id="eye"
        onclick="if(password.type=='text')password.type='password'; else password.type='text';"
      />
      <label for="eye" class="pl-3">Show Password</label>
      <div
        *ngIf="
          registerForm.get('password')?.errors !== null &&
          registerForm.get('password')?.touched
        "
        class="alert my-2 alert-danger"
      >
        <p *ngIf="registerForm.get('password')?.errors?.required">
          Password is required
        </p>
        <p *ngIf="registerForm.get('password')?.errors?.pattern">
          Password is must start with upper case letters and length must be 3-9
        </p>
      </div>
    </div>
    <div class="text-center">
      <button
        [disabled]="registerForm.invalid"
        type="submit"
        class="btn btn-info w-50 py-2"
      >
        Register
      </button>
    </div>
  </form>
</div>
